
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #3f51b5;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
 
  
  
  .sidebar a {
    display: block;
    color: white;
    padding: 18px;
    font-size: 17px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #1e2e86;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #1e2e86;
    color: white;
  }
  
  .table-head{
      background-color: white;
      height: 50px !important;
      vertical-align: middle !important;
  }
  .table{
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  header {
    background-color: #3f51b5;
    height: 60px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: white;
  }
  footer {
    background-color: #3f51b5;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 11%;
    background-color: #3f51b5;
    height: calc(100vh - 120px);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
  
  /* Style the list inside the menu */
  nav a {
    display: block;
    color: white;
    padding: 20px 10px;
    font-size: 25px;
    text-decoration: none;
  }
  nav a.active {
    background-color: #1e2e86;
    color: white;
  }
  
  nav a:hover:not(.active) {
    background-color: #1e2e86;
    color: white;
  }
  
  article {
    float: left;
    width: 89%;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  